.DS_Store
*.pyc
*.gz
*.tar
*.zip
/config/.storage/**/*
/config/.cloud/**/*
/config/zigbee.*
/config/core
/config/home-assistant_v2.db*
/config/secrets.yaml
config/custom_components/fordpass/*.txt
*.log*
